body{
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height:1.5em; 
    background-color: lightpink;
}

h1 {
    font-size: 250%;
}

h1, h2 {
    text-align: center;
}

.pochylony {
    font-style: italic; 
}

.pogrubiony {
    font-weight: bold;
}

li {
    font: normal 20px/24px gabriola;
}

.tekst1 {
    color: #851C46;
}

.tekst2 {
    color: #635F77;
}
