body{
    font-family: arial, tahoma, verdana, serif;
    font-size: 12pt;
    line-height:1.5em; 
    background-color: lightpink;
}

img { border: 5px solid white;}

.header img { border: 8px solid purple; }
#header img { border-color: white; }

div#header{
    border-color: black;
}

#header {
    padding-top: 50px;
    border-top: 40px dashed purple;
}

.header{
    padding: 20px 20px 20px 200px;
    border: 10px solid purple;
    margin: 15px;
}

h1 {
    font-size: 250%;
}

h1, h2 {
    text-align: center;
}

.pochylony {
    font-style: italic; 
}

.pogrubiony {
    font-weight: bold;
}

li {
    font: normal 20px/24px gabriola;
}

.tekst1 {
    color: #851C46;
}

.tekst2 {
    color: #635F77;
}
